{% extends "base.html" %} {% block content %}

<div class="dashboard-container">
  <div class="dashboard-title">Danh sách học phần của khoa</div>

  <table class="dashboard-table">
    <tr>
      <th>Mã học phần</th>
      <th>Tên học phần</th>
      <th>Số tín chỉ</th>
      <th>Phân công</th>
    </tr>

    {% for hp in dsHocPhan %}

    <tr>
      <td>{{ hp.MaHP }}</td>
      <td>{{ hp.TenHP }}</td>
      <td>{{ hp.SoTC }}</td>

      <td>
        <a
          class="btn-action btn-edit"
          href="/adminKhoa_hocphan_authorize/{{ hp.MaHP }}"
        >
          Phân công
        </a>
      </td>
    </tr>

    {% endfor %}
  </table>
</div>

{% endblock %}
