<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_topmenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_admin.css') }}">
</head>
<body>
    <div class="menu-bar">

    {% if 'current_user' in session %}

        {% if session.current_user.LaAdmin == 1 %}
        <div class="menu-item admin">
            <a href="#">Admin ▾</a>
            <div class="dropdown">
                <a href="/admin_gv_dashboard">Quản lí giảng viên</a>
                <a href="/admin_hocphan_list">Quản lí học phần</a>
            </div>
        </div>
        {% endif %}

        {% if session.current_user.LaTruongKhoa == 1 %}
        <div class="menu-item khoa">
            <a href="#">Admin Khoa ▾</a>
            <div class="dropdown">
                <a href="/adminKhoa_hocphan_dashboard">Quản lí học phần của khoa</a>
            </div>
        </div>
        {% endif %}

        {% if session.current_user.MaGV is not none %}
        <div class="menu-item gv">
            <a href="#">Giảng viên ▾</a>
            <div class="dropdown">
                <a href="/gv_dashboard">Học phần phân công</a>
            </div>
        </div>
        {% endif %}

        <div class="menu-item user">
            <a href="#">Xin chào {{ session.current_user.TenTK }} ▾</a>

            <div class="dropdown">
                <a href="/logout">Logout</a>
            </div>
        </div>
    {% endif %}
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>