{% extends "base.html" %} {% block content %}

<div class="gv-container">
  <div class="gv-title">Danh sách đề cương được phân công hiệu chỉnh</div>


  <div class="gv-info">
    <div class ="gv-info-title">Thông tin giảng viên:</div>

    <b>Tên giảng viên:</b> {{ ThongTinCanBo.TenGV }} <br />

    <b>Mã quản lý:</b> {{ ThongTinCanBo.MaQL }} <br />

    <b>Số hiệu công chức:</b> {{ ThongTinCanBo.SoHieu }} <br />

    <b>Loại giảng viên:</b> {{ ThongTinCanBo.LoaiGV }} <br />

    <b>Email:</b> {{ ThongTinCanBo.Email }} <br />

    <b>Khoa:</b> {{ ThongTinCanBo.TenDV }}

    {% if session.current_user.LaTruongKhoa == 1 %}
      <b>- Trưởng khoa</b>
    {% endif %}
  </div>

  <form method="GET" class="search-box">
    <select name="type" class="search-select">
      <option value="MaHP" {% if type_search =="MaHP" %}selected{% endif %}>Mã học phần</option>
      <option value="TenHP" {% if type_search =="TenHP" %}selected{% endif %}>Tên học phần</option>
      <option value="TenDV" {% if type_search =="TenDV" %}selected{% endif %}>Khoa</option>
      <option value="ThoiGian" {% if type_search =="ThoiGian" %}selected{% endif %}>Thời gian</option>
    </select>

    <input
      type="text"
      name="keyword"
      placeholder="Nhập từ khóa..."
      value="{{ keyword or '' }}"
      class="search-input"
    />

    <button type="submit" class="btn-search">Tìm</button>

    <a href="/gv_dashboard" class="btn-reset">Reset</a>
  </form>

  <table class="gv-table">
    <thead>
      <tr>
        <th>Mã học phần</th>
        <th>Tên học phần</th>
        <th>Số tín chỉ</th>
        <th>Trình độ</th>
        <th>Khoa</th>
        <th>Thời gian phân công</th>
      </tr>
    </thead>

    <tbody>
      {% if dsHocPhan %} {% for hp in dsHocPhan %}

      <tr>
        <td>{{ hp.MaHP }}</td>
        <td>{{ hp.TenHP }}</td>
        <td>{{ hp.SoTC }}</td>
        <td>{{ hp.TrinhDo }}</td>
        <td>{{ hp.TenDV }}</td>
        <td>{{ hp.ThoiGian }}</td>
      </tr>

      {% endfor %} {% else %}

      <tr>
        <td colspan="3" class="empty-row">Chưa có học phần được phân công</td>
      </tr>

      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
