<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <h1>Đăng nhập vào hệ thống phân quyền</h1>
    <form method="POST">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="txt_username" required>
        <br><br>
        <label for="password">Mật khẩu:</label>
        <input type="text" id="password" name="txt_password" required>
        <br>        <br>         <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>